<!doctype html>
<html>
    <head>
        <title>Geo Map Test</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="/static/js/mapstest.js"></script>
        <style>
            html { height: 100% }
            body { height: 100%; margin: 0; padding: 0 }
            #map { height: 100% }
        </style>
    </head>
    <body onload="init()">
        <div id="map"></div>
    </body>
</html>
